/* ==========================================================
   Footer
========================================================== */


.footer{

    margin-top:100px;

    padding-top:70px;

    background:#090D16;

    border-top:1px solid rgba(255,255,255,.06);

}



.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:50px;

    padding-bottom:50px;

}



.footer-brand h2{

    color:#FF7A00;

    font-size:32px;

    margin-bottom:15px;

}



.footer-brand p{

    color:#94A3B8;

    line-height:1.8;

}



.footer-links{

    display:flex;

    flex-direction:column;

    gap:12px;

}



.footer-links h3{

    margin-bottom:15px;

}



.footer-links a{

    color:#94A3B8;

    text-decoration:none;

    transition:.25s;

}



.footer-links a:hover{

    color:#FF7A00;

    transform:translateX(5px);

}



.footer-bottom{

    text-align:center;

    padding:25px;

    border-top:1px solid rgba(255,255,255,.06);

    color:#64748B;

}



.footer-bottom a{

    color:#FF7A00;

    text-decoration:none;

}




@media(max-width:768px){


.footer-container{

    grid-template-columns:1fr;

}


}
